{% macro render_pagination(pagination, endpoint, request) %}

    <nav class="mt-2">
        <div class="pagination justify-content-center">
            {%- for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page != pagination.page %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for(endpoint) }}?page={{ page }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="page-item active">
                            <a class="page-link active">{{ page }}</a>
                        </li>
                    {% endif %}
                {% else %}
                    <span class=ellipsis>...</span>
                {% endif %}
            {%- endfor %}
        </div>
    </nav>
{% endmacro %}