{% macro render_pagination(pagination, endpoint, request) %}

    <nav class="mt-2">
        <div class="pagination justify-content-center">
            {%- for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page != pagination.page %}
                        <li class="page-item">
                        <!-- if argument page already in url replace him to new value-->
                        {% if request.args.get('page') %}
                            {% set url = request.url.replace('page=' + pagination.page | string , 'page=' + page | string)  %}
                        <!-- if dict args is empty, add arg page to url  -->
                        {% elif not request.args.to_dict() %}
                            {% set url = request.url + '?page=' + page | string  %}
                        {% else %}
                            {% set url = request.url + '&page=' + page | string  %}
                        {% endif %}
                            <a class="page-link" href="{{ url }}">{{ page }}</a>

                        </li>
                    {% else %}
                        <li class="page-item active">
                            <a class="page-link active">{{ page }}</a>
                        </li>
                    {% endif %}
                {% else %}
                    <span class=ellipsis>...</span>
                {% endif %}
            {%- endfor %}
        </div>
    </nav>
{% endmacro %}