{% macro generate_vacancy_list(vacancies, native=False) %}
    {% for vacancy in vacancies %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="#">{{ vacancy.title }}</a></h5>
                {% if vacancy.salary_from or vacancy.salary_to %}
                    <h6 class="card-title" style="color:black"><b>{{ vacancy.salary_from | int }}
                        - {{ vacancy.salary_to | int }} грн</b></h6>
                {% endif %}
                <h6 class="card-subtitle mb-2 text-muted">{{ vacancy.company }} | {{ vacancy.city }}</h6>

                <p class="card-text" style="color:grey">{{ vacancy.description }}</p>
                <a href="#" class="card-link">Apply</a>
            </div>
            <div class="card-footer text-muted">
                {{ vacancy.time_publish.strftime('%Y-%m-%d') }}
                {% if native %}
                    <a href="{{ url_for('root_bp.delete_vacancy', vacancy_id=vacancy.id) }}"
                       class="btn btn-danger">
                        Delete
                    </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endmacro %}