{% extends 'base_clear.html' %}

{% block content %}
	<p>
        Ласкаво просимо на наш веб-сайт для пошуку вакансій! Ми допомагаємо знайти відповідну роботу за вашими
        потребами та навичками. Ми збираємо дані про вакансії з різних сайтів, використовуючи ваші критерії пошуку,
        тому ви можете бути впевнені, що отримуєте повний перелік вакансій, що відповідають вашій спеціальності та
        вимогам.<br><br>

        Наш сайт простий у використанні: виберіть свою галузь та місцезнаходження, введіть ключові слова, щоб
        додатково уточнити пошук, і ми зробимо все інше. Ви зможете переглянути детальні описи робочих місць та
        вимоги до кандидатів, а також зв'язатися з роботодавцем для отримання додаткової інформації або відправити
        своє резюме.<br><br>

        Ми прагнемо зробити ваш пошук роботи якомога більш простим та ефективним, тому що ми розуміємо, наскільки
        важливим є знайти правильну роботу для вашого майбутнього. Дякуємо, що скористалися нашим сайтом для пошуку
        вакансій!<br><br>
    </p>
{% endblock %}s