<body>
    <p> 
        <h4>Привіт,</h4><br>
        Надсилаємо тобі посилання для підтвердження твого облікового запису. Будь ласка, перейди за посиланням нижче, щоб завершити процес активації:<br><br>

        <a href="{{ confirm_link }}">CONFIRM ACCOUNT</a><br><br>

        Якщо ти не зареєструвався на нашому сайті або не запитував підтвердження аккаунта, проігноруй це повідомлення. Якщо у тебе виникли які-небудь питання або потребуєш додаткової допомоги, звернись до нашої служби підтримки.<br><br>

        Дякуємо за твою увагу та довіру.<br><br>

        З повагою,<br>
        Команда підтримки
    </p>
</body>