{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <style>
        /* Додатковий CSS для стилізації */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: black
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        h1 {
            font-size: 24px;
            text-align: center;
            margin-bottom: 20px;
        }
        .form-group {
            margin-bottom: 20px;
        }
        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }
        input[type="text"],
        textarea {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        textarea {
            height: 100px;
        }
        input[type="submit"] {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #004dff;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Додати нову вакансію</h1>
        <form action="#" method="post">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="jobTitle">Назва вакансії:</label>
                {{ form.title }}
            </div>
            <div class="form-group">
                <label for="company">Компанія:</label>
                {{ form.company }}
            </div>
            <div class="form-group">
                <label for="jobDescription">Опис вакансії:</label>
                {{ form.description }}
            </div>
            <div class="form-group">
                <label for="minSalary">Мінімальна зарплата:</label>
                {{ form.salary_from(id="minSalary") }}
            </div>
            <div class="form-group">
                <label for="maxSalary">Максимальна зарплата:</label>
                {{ form.salary_to(id="maxSalary") }}
            </div>
            <div class="form-group">
                <label for="city">Місто:</label>
                {{ form.city }}
            </div>
            {% include '_errors.html' %}
            {{ form.submit }}
        </form>
    </div>
{% endblock %}