{% extends 'base_authed.html' %}

{% block content %}
    <div class="container custom-form-control">
        <h1>Зміна паролю</h1>
        <form action="{{ url_for('auth_bp.write_new_password') }}" id="codeForm" method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="code">Пароль</label>
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="code">Повторіть Пароль</label>
                {{ form.confirm_password(class="form-control")}}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
        {% include '_errors.html' %}
    </div>
{% endblock %}