{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Відновлення паролю</h1>
        <form action="{{ url_for("auth_bp.reset_password") }}" id="emailForm" method="POST">
            <div class="form-group">
                {{ form.csrf_token }}
                <label for="email">Email: </label>
                {{ form.email(class="form-control", id="email") }}
            </div>
            {{ form.submit(class="btn btn-primary", id="getCodeBtn") }}
            {% if email_was_sent %}
                <div class="form-group mt-2" id="getCode">
                    <label for="code">Код:</label>
                    {{ form.code(class="form-control") }}
                    {{ form.send_code(class="btn btn-primary") }}
                    <a class="btn btn-secondary mt-2" href="{{ url_for("auth_bp.reset_password") }}">
                        Send code again
                    </a>
                </div>
            {% endif %}
        </form>
        {% include '_errors.html' %}
    </div>
{% endblock %}