{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <h1>Відновлення паролю</h1>
        <form action="{{ url_for(".reset_password") }}" id="emailForm" method="POST">
            <div class="form-group">
                {{ form.csrf_token }}
                <label for="email">Email: </label>
                {{ form.email(class="form-control", id="email") }}
            </div>
            {{ form.submit(class="btn btn-primary", id="getCodeBtn") }}
        </form>
        {% include '_errors.html' %}

    </div>
{% endblock %}