{% extends 'base.html' %}

{% from '_paginate.html' import render_pagination %}
{% from '_vacancy_list.html' import generate_vacancy_list %}

{% block content %}
    <div class="container-fluid mt-3 search">
        <div class="row">
            <div class="col-md-3" id="sidebar">
                <h2>Filter</h2>
                <form action="{{ url_for('search_bp.find_work') }}" id="search-form" method="GET">
                    <div class="form-group">
                        <label for="job_title">Назва Роботи:</label>
                        {{ form.title(class="form-control", id="job_title") }}
                    </div>
                    <div class="form-group">
                        <label for="job_location">Місто Роботи:</label>
                        {{ form.city(class="form-control", id="job_location") }}
                    </div>
                    <div class="collapse" id="advancedSearch">
                        <div class="form-group">
                            <label for="job_salary">Job Salary:</label>
                            {{ form.salary_from(class="form-control", id="job_salary_from") }}
                            {{ form.salary_to(class="form-control", id="job_salary_to") }}
                        </div>
                    </div>
                    {{ form.submit(class="btn btn-primary", id="submit") }}
                    <button type="button" class="btn btn-secondary" data-toggle="collapse"
                            data-target="#advancedSearch">Advanced Search
                    </button>

                </form>
            </div>
            <div class="col-md-9" id="search-results">
                {% include '_errors.html' %}

                <div class="about">
                    <div class="row" style="justify-content: space-around">
                        <div class="col-md-8">
                            {% if request.args.get("title") %}
                                <h2>Search Results: {{ request.args.get("title") }}</h2>
                            {% else %}
                                <h2>All Vacancies</h2>
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            {# :param sort_by - 1 is Date, 2 is Salary #}
                            {% set sort_by_value = request.args.get("sort_by") %}
                            <div class="row">


                                <div class="col-md-4">
                                    Сортувати по:
                                </div>
                                <div class="col-md-8">


                                    <div class="dropdown">
                                        <a class="btn btn-primary dropdown-toggle" href="#" role="button"
                                           id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            {% if sort_by_value == '2' %}
                                                Зарплаті
                                            {% else %}
                                                Даті
                                            {% endif %}
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                                            <!-- if argument page already in url replace him to new value-->
                                            {% if sort_by_value %}
                                                {% set url_for_date = request.url.replace('sort_by=' + sort_by_value, 'sort_by=1') %}
                                                {% set url_for_salary = request.url.replace('sort_by=' + sort_by_value, 'sort_by=2') %}
                                                <!-- if dict args is empty, add arg page to url  -->
                                            {% elif not request.args.to_dict() %}
                                                {% set url_for_date = request.url + '?sort_by=1' %}
                                                {% set url_for_salary = request.url + '?sort_by=2' %}
                                            {% else %}
                                                {% set url_for_date = request.url + '&sort_by=1' %}
                                                {% set url_for_salary = request.url + '&sort_by=2' %}
                                            {% endif %}
                                            <a class="dropdown-item" href="{{ url_for_date }}">
                                                Даті
                                            </a>
                                            <a class="dropdown-item" href="{{ url_for_salary }}">
                                                Зарплаті
                                            </a>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="about_pages">
                        <p>
                            Сторінка {{ vacancies.page }} з {{ vacancies.pages }}
                        </p>
                    </div>
                </div>
                {{ generate_vacancy_list(vacancies.items) }}
                {{ render_pagination(vacancies, 'search_bp.find_work', request ) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $("#search-form").submit(function () {
                $("#submit").remove();
                if ($("#job_title").val() === "") {
                    $("#job_title").prop('disabled', true);
                }
                if ($("#job_location").val() === "") {
                    $("#job_location").prop('disabled', true);
                }
                if ($("#job_location").val() === "") {
                    $("#job_location").prop('disabled', true);
                }
                if ($("#job_salary_from").val() === "") {
                    $("#job_salary_from").prop('disabled', true);
                }
                if ($("#job_salary_to").val() === "") {
                    $("#job_salary_to").prop('disabled', true);
                }
            });
        });
    </script>

{% endblock %}