<!DOCTYPE html>
<html lang="en">
  <head>
  	{% block head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('auth_bp.static', filename='css/main.css') }}">
    {% endblock %}
    <title>Job Search</title>
  </head>
  <body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Job Search</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">  
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" style="color:white" href="{{ url_for('auth_bp.register') }}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth_bp.login') }}">Log In</a>
                </li>
            </ul>
        </div>
    </nav>
</header> 

    <div class="container mt-4">
        {% block content %}
            <p>
              	Ласкаво просимо на наш веб-сайт для пошуку вакансій! Ми допомагаємо знайти відповідну роботу за вашими потребами та навичками. Ми збираємо дані про вакансії з різних сайтів, використовуючи ваші критерії пошуку, тому ви можете бути впевнені, що отримуєте повний перелік вакансій, що відповідають вашій спеціальності та вимогам.<br><br>

            	Наш сайт простий у використанні: виберіть свою галузь та місцезнаходження, введіть ключові слова, щоб додатково уточнити пошук, і ми зробимо все інше. Ви зможете переглянути детальні описи робочих місць та вимоги до кандидатів, а також зв'язатися з роботодавцем для отримання додаткової інформації або відправити своє резюме.<br><br>

            	Ми прагнемо зробити ваш пошук роботи якомога більш простим та ефективним, тому що ми розуміємо, наскільки важливим є знайти правильну роботу для вашого майбутнього. Дякуємо, що скористалися нашим сайтом для пошуку вакансій!<br><br>
            </p>
        {% endblock %}

    </div>

    <!-- Bootstrap JS -->
    {% block scripts %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	{% endblock %}
  </body>
</html>