{% extends 'base.html' %}


{% from 'auth.html' import generate_auth_form %}

{% block content %}

{{  generate_auth_form(type="register", form=form)  }}

<!--  <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="mb-0">Registration Form</h4>
          </div>
          <div class="card-body">
            <form action="{{ url_for('.register') }}" method="POST">
            	
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                {{ form.email(class="form-control") }}
                
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                {{ form.password(class="form-control") }}
                
              </div>
              <div class="mb-3">
                <label for="confirm-password" class="form-label">Confirm Password</label>
                {{ form.confirm_password(class="form-control") }}
                
              </div>
              		{% include 'errors.html' %}
              {{ form.submit(class="btn btn-primary me-2") }}
              <a href="#" class="btn btn-secondary"><i class="fab fa-google me-2"></i>Register with Google</a>
              {{ form.csrf_token }}
            </form>
          </div>
        </div>
      </div>
    </div> -->

{% endblock %}

{% block scripts %}
{{super()}}
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/5689a33a08.js" crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-LwBx/mxPud/nMXZq3Jq8n7VXk/HGhRtRuyQsY3Lq3pOkmqzN8zf7AuzdN0aQixfP"></script>

{% endblock %}
